**keypairs**
**access.log**
**/__pycache__/**
**/MediaCover
*.db
*.wal
*.shm
**.db-shm
**.db-wal
**.tar.xz
**.abc
*.pid
*.bak
**/logs
*log*.txt
*.action
*.filter
**/templates
**/cache
**/state
**/Backups/**
**.pid
**.log
**updater*.txt
**.deb
**.totals
**/plex/Library/
**.psm
**/vpn.conf
**/sensitive/**
**/vpn.conf
**/Indexers/**
**/log/php/**
**/DataProtection/**
**/asp/key**
**/torrents/**
**/.filebot/**
**/.bash_history
**/.cache/**
**/.java/**
**config/deluge/plugins/.python-eggs/**
