<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>False</EnableSsl>
  <SslCertPath></SslCertPath>
  <Port>7879</Port>
  <UrlBase></UrlBase>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslPort>9899</SslPort>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>nightly</Branch>
  <SslCertPassword></SslCertPassword>
  <ApiKey>80d9fdfbc543445db90c5d53037651b8</ApiKey>
</Config>