[Unit]
Description=Docker Media Center
After=network.target

[Service]
WorkingDirectory=/home/dave/src/docker-media-center/
ExecStart=/usr/bin/python3 service.py

[Install]
WantedBy=multi-user.target
